.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width:50%;
  margin-bottom: 2rem;
}

.feature >:last-child {
  width: 50%;
  margin-top: 1rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid black;
}
.feature > div {
  padding-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  max-width: 33%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}
.card > * {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.card-image{
  text-align: center;
}
.card-title{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.card-image img{
  max-width: 20rem;
  max-height: 20rem;
  height: 15rem;
}